beautifulsoup4>=4.13.5
google-api-python-client>=2.167.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1
openai-agents>=0.0.12
supabase>=2.18.1
uvicorn[standard]
httpx
requests
python-dotenv
pydantic
pydantic-settings
sqlmodel
asyncpg
rich
orjson
fastapi>=0.115.14
python-jose>=3.5.0
pytz>=2025.2
sqlalchemy>=2.0.42
setuptools>=80.9.0
